{
    "presets": [[
        "@babel/preset-env",
        {
            "targets":{
                "esmodules": true
            }
        }
    ]],
    "plugins": [
        ["module-resolver", {
          "root": ["./"],
          "alias": {
            "@": "./",
            "@controller": "./controller",
            "@middleware": "./middleware",
            "@helpers": "./helpers",
            "@test": "./test",
            "@models": "./models",
            "@routes": "./routes",
            "@app": "./app"
          }
        }]
        ]
}


